.banner {
    position: fixed;
    width:66.6%;
    text-align: center;
    z-index: 5;
    background: rgb(134, 134, 134);
    background-size: cover;
    opacity: 0.85;
    left: 50%;
    transform: translateX(-50%);
    color:white;
    border: solid 1px black;
    border-top: none;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-shadow: 1px 1px 1px black;
}

.skateboardImg {
    position: relative;
    width: 22%;
    bottom: 20px;
}

.registerBtn {
    width: 100px;
    position: absolute;
    top: 20px;
    right: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.logoutBtn {
    width: 100px;
}

h1 {
    color:gold;
}

.currentUser {
    color:gold;
}

.help {
    position: absolute;
    color: black;
    width: 50px;
    height: 50px;
    border: black 1px solid;
    border-radius: 2em;
    background-color: none;
    left: 100px;
    top: 50px;
    font-size: 30px;
}

.help:hover {
    background-color: rgba(255, 217, 0, 0.671)
}

.cancelBtn {
    position: relative;
    display: inline-block;
}

.errorMsg {
    color: red;
}

@media only screen and (max-width: 800px)  {
        .help {
            display:none;
        }

        .login-form {
            position: relative;
            bottom: 10%;
        }

        .registerBtn {
            position: relative;
            display: inline-block;
            left: 5px;
            top: -200px;
        }
    }

    @media only screen and (max-width: 536px) {
        .registerBtn {
            top: -200px;
        }
    }