.banner {
    position: fixed;
    width:66.6%;
    text-align: center;
    z-index: 5;
    background: url("https://www.asus.com/ae-en/Commercial-Laptops/ASUS_Chromebook_C200/websites/global/products/xOp8ZzclO1bZH0Ra/img/home//bg00.png");
    background-size: cover;
    opacity: 0.85;
    left: 50%;
    transform: translateX(-50%);
    color:white;
    border: solid 1px black;
    border-top: none;
    border-radius: 1em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-shadow: 1px 1px 1px black;
}

.skateboardImg {
    position: relative;
    width: 22%;
    bottom: 20px;
}

.registerBtn {
    width: 100px;
    position: absolute;
    top: 20px;
    right: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cite {
    color:black;
    text-shadow: none;
    position: fixed;
    bottom: 5px;
    text-align: center;
    font-size: .4em;
    margin-left: 5px;
}

h1 {
    color:gold;
}

.currentUser {
    color:gold;
}