.loginBtn {
    margin-left: 15px;
}

.userInput {
    margin-right: 7px;
    color: gold;
}

.passInput {
    margin-left: 30px;
    margin-right: 7px;
    color: gold;
}

.loginBtn {
    margin-left: 10px;
}

.login-form {
    margin-bottom: 20px;
}